extends ../wechat

block content
    style.
        .hd {
            padding: 2em 0;
        }

        page-title {
            text-align: center;
            font-size: 30px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

    .page
        .hd
            h1.page-title= movie.title
        .bd
            .weui-cells__title 电影介绍
            .weui-cells
                .weui-cell
                    .weui-cell__bd.weui-cell__primary
                        p 电影名字
                    .weui-cell__ft= movie.title
                .weui-cell
                    .weui-cell__bd.weui-cell__primary
                        p 导演
                    .weui-cell__ft= movie.director
                .weui-cell
                    .weui-cell__bd.weui-cell__primary
                        p 国家
                    .weui-cell__ft= movie.country
                .weui-cell
                    .weui-cell__bd.weui-cell__primary
                        p 语言
                .weui-cell__ft= movie.language
                .weui-cell
                    .weui-cell__bd.weui-cell__primary
                        p 上映年份
                    .weui-cell__ft= movie.year
            .weui-cells
                section
                    img(src="#{movie.poster}", style="width:100%")
            .weui-article
                section
                    p= movie.summary
